@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem .5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background: black;
}
.navbar.navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color: #29f700;
}
#navbarSupportedContent a{
    color: white;
    border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid #29f700;
}
#navbarSupportedContent button{
    background: #29f700;
    width: 7rem;
    border-radius: 15px;
}
section h1{
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/****Home*****/

#home{
    background: url(download\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}
#home h1{
    font-size: 100px;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 0px #ccc,
                 0px 2px 0px #ccc,
                 0px 3px 0px #ccc,
                 0px 4px 0px #ccc,
                 0px 5px 0px #ccc,
                 0px 6px 0px #ccc,
                 0px 7px 0px #ccc;
}
#home p{
    font-size: 18px;
    color: #fff;
}
#home.input-groupm-4{
    width: 40%;
    height: 45px;
}
.signin{
    background: green !important;
    color: white !important;
}
#about{
    background: linear-gradient(red,#ed466b 100%);
}
#about h5{
    font-weight: 800;
    font-size: 50px;
    color: white;
}
#about p{
    color: white;
}
#product{
    background: #e5e5e5;
}
#product{
    width: 200%;
    height: 200%;
}
#card{
    width: 200%;
    height: 200%;
}
.contact img{
    width: 150px;
    height: 150px;
    border-radius: 150px;
}
